{% assign image_path = include.image_path %}
{% assign alt = include.alt | default: "Image" %}
{% assign width = include.width | default: "auto" %}
{% assign height = include.height | default: "auto" %}
{% assign loading = include.loading | default: "lazy" %}
{% assign fetchpriority = include.fetchpriority | default: "auto" %}
{% assign class = include.class %}

{% assign resized = site.responsive_image.resized %}
{% assign largest = resized | sort: 'width' | last %}
{% assign smallest = resized | sort: 'width' | first %}

<picture class="{{ class }}">
  {% for format in site.responsive_image.formats %}
    <source
      type="image/{{ format }}"
      srcset="{% for i in resized %}{{ i.path | relative_url }} {{ i.width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
      sizes="(max-width: 768px) 100vw, {% if include.sizes %}{{ include.sizes }}{% else %}{{ largest.width }}px{% endif %}">
  {% endfor %}
  
  <!-- Fallback para navegadores antiguos -->
  <img
    src="{{ largest.path | relative_url }}"
    alt="{% if alt %}{{ alt }}{% else %}{{ include.alt }}{% endif %}"
    {% if include.width %}width="{{ include.width }}"{% endif %}
    {% if include.height %}height="{{ include.height }}"{% endif %}
    loading="lazy"
    decoding="async"
    class="{{ include.image_class }}"
    {% if include.title %}title="{{ include.title }}"{% endif %}>
</picture> 